/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* Custom properties */

:root{                       /*To set it as Global /variable */
    --light-clr: #F1F1F1;
    --dark-clr: #504f4f;
    --accent-clr: #00cc90;
    --btn-clr: #f6d707;
    --container-color: hsl(228, 16%, 12%);
    --border-color:hsl(228, 16%, 14%);
    --body-color: hsl(228, 12%, 8%);
    --header-height: 3rem;


     



  /*========== Font weight ==========*/



    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3.6rem;
    --font-family: 'Poppins', sans-serif;     
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
  
  
  /*============= */


    --margin-sm: 1rem;
    --margin-md: 2rem;
    --margin-lg: 3rem;

    
    
  
}
/* Base styles */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

html{

    font-size:62.5%; /* equal to 10px, percentage used to help scaling in zoom */
    scroll-behavior: smooth;;
}


body{
    font-family:var(--font-family);
    font-size: var(--font-size-sm);
    background-color: var(--light-clr);
    color: var(--dark-clr);
    overflow-x:hidden;  /* to hide the overflowing  to scroll animation */
    
}

a{
    color: var(--dark-clr);
    text-decoration: none;

}

ul{
    list-style:none;
}

img{
    max-width: 100%;   /* to make sure they dont overflow the parents div */
    display: block;
}

i{
    font-size: var(--margin-md);
}


/* Reusable classes */

.container{
    max-width: 116rem; /*1160px */
    margin: 0 auto; /* to center the container middle of the page  */
    padding: 0 1.5rem; /* padding on the sides */

}





.place-items-center{       /* to make the icon align in the middle */
    display:flex;
    align-items: center;
    justify-content: center;

}

.sm-screen-hidden{
    display: none !important;
}

.d-grid{
    display: grid;
}

.section{
    padding-block: var(--section-spacing);   /* space top and the bottom */
}







/* header */

.header{
    background-color: var(--light-clr);
    position:fixed;
    top:0;
    left:0;
    width: 100%;  /*  to make sure it stretches all the way automatic */
    z-index: 999; /* to make sure it stays on top */


}

.nav{
    height: 8rem;
    display:flex;
    align-items: center; /* align items to the center in this container */
    justify-content: space-between; /* to have a space in between them separeted */
    background-color: inherit;  /* this will make to adapt the color of the parent */


}

.logo{
    font-size: var(--margin-md);
    font-weight:var(--font-weight-bold);
    color: var(--accent-clr);
}


.menu-toggle-icon{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--accent-clr);
    cursor: pointer; /* when hovered it will have the effect of clickable */
    transition: color .25s;
    color:var(--light-clr)
}

  /* to only show one icon at a time */

  .menu-close-icon{
    display:none;
  }

.list{
    display:flex;
    flex-direction: column;
    gap: var(--margin-sm);

}

.list-link{
    position:relative; /* for pseudo-elements which is absolute and will be relative to this link*/

}

.list-link::after,
.list-link.current::after{
    content: '';
    position: absolute;
    top: 50%;
    right:-1rem;
    transform:translateY(-50%);
    width: .5rem;
    height: .5rem;
    background-color: var(--accent-clr);
    border-radius: 50%;
    opacity: 0;   /* to hide it  and only show in hover*/
    transition: opacity .25s;  
}

.list-link.current::after{
    opacity: 1 !important;
}

.list-link:hover::after{
    opacity: 1 
}


.nav-mobile{
    background-color: #f8f8f8;
    position: absolute;
    top:0;
    left:0;
    width:  100%;
    padding: 1.5rem;
    z-index: -1;  /* to make it fall behind its parent */
    transform:translateY(-100%); /* to hide it */
    transition:transform .25s;
}




/* Nav JavaScript styles */

.nav.active .nav-mobile{
    transform: translateY(8rem);
}

nav.active .menu-open-icon{   /* to change the icon when clicked */
    display: none;
}
nav.active .menu-close-icon{
    display: block;
}

.header::before{        /* hiding the header */
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    background-color: rgba(0,0,0,.8);
    z-index: -1;
    opacity: 0;
    transform: scale(0); /* to hide the before element */
    transition: opacity .5s;
}

.header.active::before{
    opacity: 1;
    transform:scale(1);
}
.header.active-scroll{
    border-bottom : 1px solid rgba(0,0,0,.1);
}

/* .placeholder{  just to test the scroll
    height: 5000px;


} */


/* history */
.history-section {
  padding: 10rem 9%;
}


.history-section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.history-section .row .form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 5rem;
  border-radius: .5rem;
  border: 0.2rem solid #fff;
  margin: 10px;
  background-color: white;
}
.history-section .row .form .section__title{

  color:#333;
  
}

.history-section .row .form .value__description{

 color: #504f4f;

}
  




.history-section .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  max-width: 600px;
  
}

.history-section .row .map .turbine2{
  width: 100%;
  border-radius: .5rem;

  
}


















/* Showcase */

.showcase{
    margin-top: 8rem;
}

.showcase-container
{

    gap: var(--gap-lg);
}



.image-group{
    grid-template-columns: 2rem repeat(2, 1fr)  2rem repeat(2, 1fr) 
    2rem;

}

.image-box{
    min-height: 25rem;
    box-shadow: 2px 2px 1rem rgba(0,0,0, .1);
    overflow: hidden;
}

.showcase .image-box{
    min-height: 25rem;
}

.image-box img{
    height:  100%;
    object-fit: cover;
    transition: transform .5s;

}

.image-box:hover img{
    transform:scale(1.1);
}

.image-left{
    grid-column: 1/4;   /*stretch image to 4 */
    grid-row: 1/span 10;
    z-index: 5;
}

.image-center{
    grid-column: 3/6; 
    grid-row: 7/span 10;

}
.image-right{
    grid-column: 5/-1; 
    grid-row: 3/span 10;
    z-index: 5;

}

.tagLine{
    display: inline-block;  /* to make editing of our margin possible */
    font-size:  var(--font-size-xsm);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    color: var(--accent-clr);
    margin-bottom: var(--margin-sm);

}

.title{
    font-size:var(--font-size-md);
    margin-bottom:  var(--margin-md);
}

.main-title{
    font-size: var(--font-size-lg);

}

.accent-text{
    color:var(--accent-clr);
}

.description{
    margin-bottom:var(--margin-lg);
}


.btn{
    display: inline-block;
    background-color: var(--accent-clr);
    color: var(--light-clr);
    padding: 1rem 2.5rem;
    transition: background-color .25s;
    margin-bottom: var(--margin-md);

}

.btn:hover{
    background-color: #00be85;
    
}

/* company-logo section */

.company-section {
    padding: 5rem 9%;
  }

.clients .silde {
    text-align: center;
  }
  
  .clients .silde img {
    height: 12rem;
  }



  

  /* VALUE  */

  .sec-container{
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  

  .value-section {
    padding: 4.5rem 0 2rem;
    
    background-color: var(--body-color);
  }
  
  .section__title {
    font-size: var(--font-size-md);
    margin-bottom: 1rem;
    color:var(--light-clr);
  }
  
  .section__title span {
    color: var(--second-color);
  }
  
  .section__subtitle {
    display: block;
    font-size: var(--font-size-sm);
    color: #54B435;
  }
  
  .main {
    overflow: hidden; /* For the animations ScrollReveal */
    overflow-x: hidden;
  }

  .value__content{
    padding-bottom: 12rem;
  }

  .value__container {
    row-gap: 3rem;
  }
  
  .value__images {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .value__orbe {
    width: 420px;
    height: 410px;
    background-color: var(--container-color);
    border-radius: 135px 135px 16px 16px;
  }
  
  .value__img {
    position: absolute;
    width: 390px;
    height: 390px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
  }
  

  .value__img img{
    height: 100%;
    width: inherit;
    transition: transform .5s;
  
  }


.value__img:hover img{
    transform:scale(1.1);
}
  
  .value__description {
    font-size: var(--font-size-sm);
    color: var(--light-clr);
    margin-bottom: 2rem;
  }
  
  .value__accordion {
    display: grid;
    row-gap: 1.5rem;
  }
  
  .value__accordion-item {
    border: 2px solid var(--border-color);
    background-color: var(--body-color);

    border-radius: .5rem;
    padding: 1rem .75rem;
  }
  
  .value__accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .value__accordion-icon {
    background-color: var(--container-color);
    border-radius: .25rem;
    font-size: 18px;
    color: #00cc90;
    margin-right: .75rem;
    transition: .3s;
  }
  
  .value__accordion-title {
    font-size: var(--font-size-sm);
    color: rgba(255, 255, 255, 0.884);
  }
  
  .value__accordion-arrow {
    display: inline-flex;
    background-color: var(--container-color);
    color: #00cc90;
    border-radius: 2px;
    font-size: 10px;
    margin-left: auto;
    transition: .3s;
  }
  
  .value__accordion-arrow i {
    transition: .4s;
  }
  
  .value__accordion-description {
    font-size: var(--font-size-xsm);
    padding: 1.25rem 2.5rem 0 2.75rem;
    color:var(--light-clr);
  }
  
  .value__accordion-content {
    overflow: hidden;
    height: 0;
    transition: all .25s ease;
  }
  
  /*Rotate icon */

  .accordion-open .value__accordion-arrow i {
    transform: rotate(-180deg);
  }

  /*  Our Team  */


  .ourteam{
    background:var(--light-clr);
  }

  .ourteam h2{
    color:#333;
  }
  
  .ourteam .container{
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    text-align: center;  
  }
  .ourteam .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-bottom: 100px;
  }
  
  .ourteam .card-container .card{
    padding:2rem;
    margin: 2rem;
    background:#fff;
    text-align: center;
    width:31rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  }
  
  .ourteam .card-container .card img{
    height:30rem;
    width:100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: .2s;
  }
  
  .ourteam .card-container .card:hover img{
    filter: grayscale(0);
  }
  
  .ourteam.card-container .card h3{
    font-size: 2rem;
    padding:.5rem 0;
  }
  
  .ourteam .card-container .card p{
    font-size: 1.7rem;
    color:#666;
  }
  
 .ourteam .card-container .card .icons a{
    font-size: 1.9rem;
    padding:1.5rem .5rem;
  }
  
  .ourteam .card-container .card .icons a:hover{
    color:var(--accent-clr);
  }

  /** promote **/

  .promote {
    padding: 0;
  }
  
  .promote .box {
    min-height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover !important;
    background-position: center !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 2rem 9%;
  }
  
  .promote .box.second {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }


  
  .promote .box .content {
    width: 50rem;
  }
  
  .promote .box .content span {
    font-size: 4rem;
    color: #333;
  }

  
  .promote .box .content h3 {
    font-size: 6rem;
    color: #219150;
    padding-top: .5rem;
    text-transform: uppercase;
  }
  
  .promote.box .content p {
    line-height: 2;
    color: #10221b;
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 3rem;
    color: #10221b;
  }

  /**FOOTER**/

  .footer{
    position: relative;
    background: #1A3240;
    width: 100%;
   
  }
  .footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: var(--light-clr);
  }
  .footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  .footer .content .top{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  
  .footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer .content .link-boxes .box2{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box2 .link_name{
    color: var(--accent-clr);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box2 .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box2 li{
    margin: 6px 0;
    list-style: none;
  }

  .green{
   color: var(--accent-clr);
  }
  
  .fa-phoenix-framework{
    color: #dfc310;
  }


  .content .link-boxes .box2 li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box2 li a:hover{
    opacity: 1;
    text-decoration: underline;
  }

  .content .link-boxes .box2 li .newsletter_desc:hover{
    opacity: 1;
    text-decoration: none;
  }
  .content .link-boxes .input-box{
    margin-right: 100px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 10px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #fff;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: var(--dark-clr);
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: var(--btn-clr);
    color: var(--dark-clr);
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    background-color: #00cc90;
  }
  .footer .bottom-details{
    width: 100%;
    background: #1A3240;
  }
  .footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  
 






/* Media queries */

@media (max-width: 1200px) {
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .promote .box {
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right !important;
  }
  .promote .box.second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: left !important;
  }
  .promote .box .content {
    text-align: center;
  }
  .promote .box .content span {
    font-size: 3rem;
  }
  .promote .box .content h3 {
    font-size: 4rem;
  }


}

@media (max-width: 900px) {
  .footer .content .link-boxes{
    flex-wrap: wrap;
  }
  .footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}



@media (max-width: 768px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  
  .content .top .logo-details{
    font-size: 26px;
  }
  
}

@media (max-width: 700px){
  .footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  
  footer .content .link-boxes .box2{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 50%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}

@media (max-width: 520px){
  .footer::before{
    top: 145px;
  }
 
 
  .footer .content .link-boxes .box2{
    width: calc(100% / 2 - 10px);
  }
  .footer .content .link-boxes .input-box{
    width: 100%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  
  .sec-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .value-section {
    padding: 3.5rem 0 1rem;
  }
  .value__img
  {
    width: 220px;
    height: 260px;
  }
  .value__orbe {
    width: 236px;
    height: 280px;
  }
  

}




@media screen and (max-width: 350px) {
    .sec-container {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
    .value-section {
      padding: 3.5rem 0 1rem;
    }
    .value__img
    {
      width: 220px;
      height: 260px;
    }
    .value__orbe {
      width: 236px;
      height: 280px;
    }
    

  
   
  }
  

@media screen and (max-width: 320px) {
    
    .value__img
    {
      width: 220px;
      height: 260px;
    }
    .value__orbe {
      width: 236px;
      height: 280px;
    }
   
  }

  
@media screen and (min-width: 400px){

    .btn-group{

        flex-direction: row;

    }
    .sec-container {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    
      .value-section {
        padding: 3.5rem 0 1rem;
      }

   

    
}




@media screen and (min-width: 768px){


  body {
    margin: 0;
  }
        .showcase-container
        {
            grid-template-columns: repeat(2 , 1fr);
            align-items: center;
        }

        /* .order-1{
            order:0;
        }
        .order-2{
            order:1;
        } */

        .image-box {
            min-height: 35rem;
        }


        
        

        .value__container
  {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

       

      


       
        .secondary-grid{

            grid-template-columns: repeat(2, 1fr);
            grid-column: 1/-1;

        }

        .image-box-right{
            grid-column: span 2;
        }

     
      }


@media screen and (min-width: 1024px ){

.nav-mobile{     /*to reset */
    background-color: transparent;
    position: initial;
    width: initial;
    padding: initial;
    z-index: initial;
    transform: initial;
    transition: initial;
}

.nav .list{
    flex-direction: row;
}

.list-link::after,
.list-link.current::after{

    top:initial;
    right:initial;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem;
}

.sm-screen-hidden{
    display: block !important;
}

.lg-screen-hidden{   /* to hide hamburder */
    display: none;
}

.nav.active .nav-mobile{
    transform: initial;

}

.header::before{
    display: none;
}


.showcase-container
{

    gap: 10rem;


}



.showcase .image-box{

    min-height: 35rem;


}

.clients{
    padding: 3rem 2rem;
  }



  


.secondary-grid{
    grid-template-columns: 2fr repeat(6,1fr) 2fr;
}

.image-box-left{
    grid-column: 1/3;
}

.image-box-center{
    grid-column: 3/7;
}

.image-box-right{
    grid-column: 7/-1;
}

.width-50{

    width: 50%;

}



.value-section {
  padding: 4rem  0 4rem;

   
  }


  .section__title {
    font-size: var(--font-size-lg);
    color: #fff;
  }
  .section__subtitle {
    font-size: var(--font-size-md);
    
  }

  .value__container{
    align-items:flex-start;
    column-gap: 5rem;
  }

  

    .value__orbe
     {
      width: 501px;
      height: 641px;
      border-radius: 258px 258px 16px 16px;
    }
    .value__img
   {
      width: 461px ;
      height: 601px;
      border-radius: 238px 238px 12px 12px;
    }
    .value__img img
    {
      max-width: initial;
      width: 490px;
      

    }
  
 

    .value__description{
      font-size: var(--normal-font-size);
      margin-bottom: 2.5rem;
    }
  
    .value__accordion-title {
      font-size: var(--normal-font-size);
    }
    .value__accordion-item {
      padding: 1.25rem 1.25rem 1.25rem 1rem;
    }
    .value__accordion-description {
      padding-bottom: 1rem;
      font-size: var(--small-font-size);
    }

  
  

  


}

@media screen and (min-width: 1040px) {
  .sec-container {
    margin-left: auto;
    margin-right: auto;
  }


}









@media screen and (min-width: 2048px) {
  #value {
    zoom: 1.1
  }
}


